*.iml
.gradle
.kotlin
**/build/
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx

# Xcode and SwiftPM
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.build
.swiftpm
